

:root {
  --primary-color: #cf23cf; 
}

        body {
            font-family: Arial, sans-serif;
            background: #020617;
            position: relative;

        }

        header {
            background-color: transparent;
            color: #fff;
            padding-bottom: 24px;
            text-align: center;
        }

        nav {
            background-color: transparent;
            color: #fff;
        }

        nav a {
            font-family: 'Montserrat', sans-serif;
            color: #94a3b8;
            text-decoration: none;
            font-size: 20px;
            margin: 0 10px;
        }

        nav a:hover {
          color: white;
      }

        section {
          align-content: center;
          text-align: center;
        }

        footer {
            background-color: transparent;
            color: #fff;
            padding: 10px;
            text-align: center;
        }

        h1 {
            color: black; 
            display: inline-block;
        }

    .boton-gradient {
      display: inline-block;
      font-size: 16px;
      text-align: center;
      border: 2px solid transparent; 
      border-radius: 10px;
      background-clip: padding-box, border-box; 

      background: 
        linear-gradient(white, white) padding-box,
        linear-gradient(132deg, red, purple) border-box;
      color: black;
      text-decoration: none;
      padding: 15px;
      font-weight: bold;
    }

    .boton-gradient:hover {
      display: inline-block;
      font-size: 16px;
      text-align: center;
      border: 4px solid transparent;
      border-radius: 10px;
      background-clip: padding-box, border-box; 
      background: 
        linear-gradient(black, black) padding-box,
        linear-gradient(132deg, red, purple) border-box;
      color: white;
      text-decoration: none;
      padding: 13px;
      font-weight: bold;
    }

    .boton-gradient-dark {
      display: inline-block;
      font-size: 16px;
      text-align: center;
      border: 2px solid transparent; 
      border-radius: 10px;
      background-clip: padding-box, border-box; 

      background: 
        linear-gradient(black, black) padding-box,
        linear-gradient(132deg, red, purple) border-box;

      color: white;
            text-decoration: none;
            padding: 15px;
            margin: 0 15px;
            font-weight: bold;
      
    }

    .text-style1 {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        color: white;
        font-size: 72px;
    }

    .text-style1-gradient {
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      color: white;
      font-size: 64px;
      opacity: 1;
  }

    .text-style2 {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        color:black;
        font-size: 48px;
    }

    .text-style3 {
        font-family: 'JetBrains Mono', sans-serif;
        font-weight: 400;
        color: var(--primary-color);
        display: inline-block;
        border: transparent;
        font-size: 24px;
        margin-bottom: 4px;
    }

    .text-style4 {
      color: #94a3b8;
      line-height: 1.3;
      font-size: 21px;
  }

    .text-style5 {
      font-weight: 500;
      color:#94a3b8;
      font-size: 20px;
  }

  .text-style6 {
    font-family: 'Roboto';
    font-weight: 500;
    color: #94a3b8;
    font-size: 16px;
}

.text-style7 {
  font-family: 'JetBrains Mono', sans-serif;
  font-weight: 400;
  color: #CCCCCC;
  display: inline-block;
  border: transparent;
  font-size: 24px;
  margin-bottom: 4px;
}

.text-style7 {
  font-family: 'JetBrains Mono', sans-serif;
  font-weight: 400;
  color: #CCCCCC;
  display: inline-block;
  border: transparent;
  font-size: 17px;
}

.text-style-awesome {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: black;
    background: linear-gradient(to right, #f32170, 
                    #ff6b08, #cf23cf, #eedd44); 
    font-size: 32px;
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text; 
}

    .svg-container {
      position : absolute;
      width: 100%;
      height: 100%;
      bottom: 0;
      left: 0;
      z-index: -1;
      background-image: url('backimage3.png');
      background-size: cover; 
      background-position: left top;
    }

    .hero-image {
      background-image: url("backimage3.png");
      background-color: transparent;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }

    .positioned-image {
      position: absolute; 
      top: 0px; 
      width: 100%;
      height: auto;
      z-index: -1;
    }

    .svg-container-2 {
      position : absolute;
      width: 10%;
      height: 10%;
      bottom: 0;
      left: 0;
      background-image: url('chessimg.png');
      background-size: cover; 
      background-position: left top;
    }

    .contenedor-flexible {
      display: flex;
      flex-wrap: wrap; 
      justify-content:left; 
      align-items:flex-start;
    }

    .project-item {
      width: 260px;
      height: 150px;
      margin-bottom: 32px;
      display: inline-block;
      font-size: 16px;
      text-align: left;
      border: 1px solid transparent; 
      border-radius: 10px;
      background-clip: padding-box, border-box; 
      background: 
        linear-gradient(black, black) padding-box,
        linear-gradient(235deg, #343434, #343434) border-box;

      color: black;
            text-decoration: none;
            padding: 15px;
            margin: 32px 15px;
            font-weight: bold;
    }

    .project-item:hover {
      width: 260px;
      height: 150px;
      margin-bottom: 32px;
      display: inline-block;
      /*padding: 10px 20px;*/
      font-size: 16px;
      text-align: left;
      border: 1px solid transparent;
      border-radius: 2px;
      background-clip: padding-box, border-box; 
      background: 
        linear-gradient(black, black) padding-box,
        linear-gradient(132deg, #343434, #343434) border-box;

      color: black;
            text-decoration: none;
            padding: 15px;
            margin: 32px 15px;
            font-weight: bold;
    }

    .project-item-pro {
      width: 260px;
      height: 250px;
      margin-bottom: 32px;
      display: inline-block;
      font-size: 16px;
      text-align: left;
      border: 1px solid transparent; 
      border-radius: 2px;
      background-clip: padding-box, border-box; 
      
    background: 
        linear-gradient(black, black) padding-box,
        linear-gradient(325deg, #3D008D, black, #A020F0) border-box;
      color: black;
            text-decoration: none;
            padding: 15px;
            margin: 32px 15px;
            font-weight: bold;

            opacity: 0.9;
    }

    .project-item-pro:hover {
      width: 260px;
      height: 250px;
      margin-bottom: 32px;
      display: inline-block;
      font-size: 16px;
      text-align: left;
      border: 1px solid transparent;
      border-radius: 2px;
      background-clip: padding-box, border-box;
      
    background: 
        linear-gradient(black, black) padding-box,
        linear-gradient(325deg, #3D008D, black, #A020F0) border-box;
      color: black;
            text-decoration: none;
            padding: 15px;
            margin: 32px 15px;
            font-weight: bold;
            opacity: 1;
    }

    .circle {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background-color: #3498db; 
      backdrop-filter: blur(400px); 
  }


  .section-container {
    text-align: left;
    width: 90%;
    max-width: 1200px;
    margin: 5% 10%;
  }


  .section-container-text {
    text-align: left;
    width: 90%;
    max-width: 800px;
    margin: 5% 10%;
  }

  @media screen and (max-width: 1080px) {
    .section-container-text {
      margin: 5% 5%;
    }
    .section-container {
      margin: 5% 5%;
    }
  }

  @media screen and (max-width: 780px) {
    .text-style1 {
      font-size: 42px;
    }
    .text-style1-gradient {
      font-size: 42px;
    }

    .text-style4 {
      font-size: 18px;
    }
    .text-style5 {
      font-size: 18px;
    }

    nav a {
      font-size: 17px;
    }
  }

  .fragmento {
    width: 200px;
    height: 5px;
    background: var(--primary-color);
  }

  .fragmento-2 {
    width: 80px;
    height: 1px;
    background: linear-gradient(to right, #3D008D, #cf23cf);
    
    opacity: 0.7;
  }

  .extra-container {
    background-color: #3498db;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  }

  .button-pro {
    width: 120px;
    margin-bottom: 32px;
    display: inline-block;
    font-size: 14px;
    text-align: center;
    border: 1px solid transparent; 
    border-radius: 2px;
    background-clip: padding-box, border-box; 
    
  background: 
      linear-gradient(black, black) padding-box,
      linear-gradient(325deg, #A020F0, black, #A020F0) border-box;
    color: black;
      text-decoration: none;
      padding: 8px;
      font-weight: bold;
      opacity: 0.8;
  }


  .button-pro:hover {
    margin-bottom: 32px;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    border: 1px solid transparent; 
    border-radius: 2px;
    background-clip: padding-box, border-box;
    
  background: 
      linear-gradient(black, black) padding-box,
      linear-gradient(325deg, #A020F0, black, #A020F0) border-box;
    color: black;
      text-decoration: none;
      padding: 8px;
      font-weight: bold;
      opacity: 1;
  }

  .contact-link {
    font-size: 20px;
    color: #EEEEEE;
    text-decoration-color:#cf23cf;
    font-family: 'JetBrains Mono', sans-serif;
    margin-right: 20px;

  }

  .contact-link:hover {
    color: #AAAAAA;
  }

