

:root {
  --primary-color: #cf23cf; /* Define tu color personalizado aquí */
}

        body {
            font-family: Arial, sans-serif;
            background: #020617;
            position: relative;

        }

        header {
            background-color: transparent;
            color: #fff;
            padding-bottom: 24px;
            text-align: center;
        }

        nav {
            background-color: transparent;
            color: #fff;
        }

        nav a {
            font-family: 'Montserrat', sans-serif;
            color: #94a3b8;
            text-decoration: none;
            font-size: 20px;
            margin: 0 10px;
        }

        nav a:hover {
          color: white;
      }

        section {
          align-content: center;
          text-align: center;
        }

        footer {
            background-color: transparent;
            color: #fff;
            padding: 10px;
            text-align: center;
        }

        h1 {
            /*background: linear-gradient(to right, #2196F3, #7E57C2);*/ /* Azul más claro a morado más claro y brillante */
            color: black; 
            display: inline-block;
        }

    .boton-gradient {
      display: inline-block;
      /*padding: 10px 20px;*/
      font-size: 16px;
      text-align: center;
      border: 2px solid transparent; /* Asegura que el borde no afecte el tamaño del botón */
      border-radius: 10px;
      background-clip: padding-box, border-box; /* Establece cómo se aplica el fondo y el borde */
      /*border-image: linear-gradient(to right bottom, #2196f3, #0086fb, #0075ff, #0061ff, #0048ff, #2c3efa, #4032f5, #4f23ef, #6132e4, #6d40d8, #774ccd, #7e57c2);
      */

      background: 
        linear-gradient(white, white) padding-box,
        /*linear-gradient(132deg, #6a3094, #c02425, #f0cb35) border-box;*/
        linear-gradient(132deg, red, purple) border-box;
  /*
      border-image: linear-gradient(to right bottom, #2196f3, #0086fb, #0075ff, #0061ff, #0048ff, #2c3efa, #4032f5, #4f23ef, #6132e4, #6d40d8, #774ccd, #7e57c2);
  */

      color: black;
      text-decoration: none;
      padding: 15px;
      font-weight: bold;
      
    }


    .boton-gradient:hover {
      display: inline-block;
      /*padding: 10px 20px;*/
      font-size: 16px;
      text-align: center;
      border: 4px solid transparent; /* Asegura que el borde no afecte el tamaño del botón */
      border-radius: 10px;
      background-clip: padding-box, border-box; /* Establece cómo se aplica el fondo y el borde */
      /*border-image: linear-gradient(to right bottom, #2196f3, #0086fb, #0075ff, #0061ff, #0048ff, #2c3efa, #4032f5, #4f23ef, #6132e4, #6d40d8, #774ccd, #7e57c2);
      */

      background: 
        linear-gradient(black, black) padding-box,
        /*linear-gradient(132deg, #6a3094, #c02425, #f0cb35) border-box;*/
        linear-gradient(132deg, red, purple) border-box;
  /*
      border-image: linear-gradient(to right bottom, #2196f3, #0086fb, #0075ff, #0061ff, #0048ff, #2c3efa, #4032f5, #4f23ef, #6132e4, #6d40d8, #774ccd, #7e57c2);
  */

      color: white;
      text-decoration: none;
      padding: 13px;
      font-weight: bold;
      
    }

    .boton-gradient-dark {
      display: inline-block;
      /*padding: 10px 20px;*/
      font-size: 16px;
      text-align: center;
      border: 2px solid transparent; /* Asegura que el borde no afecte el tamaño del botón */
      border-radius: 10px;
      background-clip: padding-box, border-box; /* Establece cómo se aplica el fondo y el borde */
      /*border-image: linear-gradient(to right bottom, #2196f3, #0086fb, #0075ff, #0061ff, #0048ff, #2c3efa, #4032f5, #4f23ef, #6132e4, #6d40d8, #774ccd, #7e57c2);
      */

      background: 
        linear-gradient(black, black) padding-box,
        /*linear-gradient(132deg, #6a3094, #c02425, #f0cb35) border-box;*/
        linear-gradient(132deg, red, purple) border-box;
  /*
      border-image: linear-gradient(to right bottom, #2196f3, #0086fb, #0075ff, #0061ff, #0048ff, #2c3efa, #4032f5, #4f23ef, #6132e4, #6d40d8, #774ccd, #7e57c2);
  */

      color: white;
            text-decoration: none;
            padding: 15px;
            margin: 0 15px;
            font-weight: bold;
      
    }


    .text-style1 {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        color: white;
        font-size: 64px;
    }

    .text-style1-gradient {
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      color: white;
      font-size: 64px;

      /*background: #7F00FF;  
background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);  
background: linear-gradient(to right, #E100FF, #7F00FF);*/

      /*background: linear-gradient(269deg, #4F00F0 13%, #D300FF 88%);*/

      /*background: #03001e;  
background: -webkit-linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e); 
background: linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e);*/


/*background: #7F00FF;  
background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);  
background: linear-gradient(to right, #E100FF, #7F00FF);*/

/*
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;*/



/*
    color: black;
    border: 2px;
    -webkit-text-stroke: 1px white;
    text-stroke: 1px white;*/

    opacity: 1;
    
  }

    .text-style2 {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        color:black;
        font-size: 48px;
    }

    .text-style3 {
        font-family: 'JetBrains Mono', sans-serif;
        font-weight: 400;
        color: var(--primary-color);
        display: inline-block;
        border: transparent;
        font-size: 24px;
        margin-bottom: 4px;
    }

    .text-style4 {
      color: #94a3b8;
      line-height: 1.3;
      font-size: 21px;
  }

    .text-style5 {
      font-weight: 500;
      color:#94a3b8;
      font-size: 20px;
  }

  .text-style6 {
    font-family: 'Roboto';
    font-weight: 500;
    color: #94a3b8;
    font-size: 16px;
}

.text-style7 {
  font-family: 'JetBrains Mono', sans-serif;
  font-weight: 400;
  color: #CCCCCC;
  display: inline-block;
  border: transparent;
  font-size: 24px;
  margin-bottom: 4px;
}

.text-style7 {
  font-family: 'JetBrains Mono', sans-serif;
  font-weight: 400;
  color: #CCCCCC;
  display: inline-block;
  border: transparent;
  font-size: 17px;
}

.text-style-awesome {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: black;
    background: linear-gradient(to right, #f32170, 
                    #ff6b08, #cf23cf, #eedd44); 
    font-size: 32px;
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text; 
}




    /*https://logosandtypes.com/alphabet/letter-a/art-blocks/*/
    .svg-container {
      position : absolute;
      width: 100%;
      height: 100%;
      bottom: 0;
      left: 0;
      z-index: -1;
      background-image: url('backimage3.png');
      background-size: cover; /* You can adjust this based on your requirements */
      background-position: left top;
    }

    /*
    blue light
    blur -> 600
    blue - > 232ACF
    */
    .hero-image {
      background-image: url("backimage3.png");
      background-color: transparent;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }

    .positioned-image {
      position: absolute; /* Set the image position to absolute */
      top: 0px; /* Adjust the desired top position in pixels */
       /* Adjust the desired left position in pixels */
      width: 100%;
      height: auto;
      z-index: -1;
      /* Add other styles as needed */
    }

    .svg-container-2 {
      position : absolute;
      width: 10%;
      height: 10%;
      bottom: 0;
      left: 0;
      background-image: url('chessimg.png');
      background-size: cover; 
      background-position: left top;
    }

    .contenedor-flexible {
      display: flex;
      flex-wrap: wrap; /* Permite que los elementos se envuelvan en múltiples líneas */
      justify-content:left; /* Ajusta la distribución de los elementos */
      align-items:flex-start;/* Ajusta la alineación vertical de los elementos */
    }


    
    .project-item {
      width: 260px;
      height: 150px;
      margin-bottom: 32px;
      display: inline-block;
      /*padding: 10px 20px;*/
      font-size: 16px;
      text-align: left;
      border: 1px solid transparent; /* Asegura que el borde no afecte el tamaño del botón */
      border-radius: 10px;
      background-clip: padding-box, border-box; /* Establece cómo se aplica el fondo y el borde */
      background: 
        linear-gradient(black, black) padding-box,
        /*linear-gradient(132deg, #6a3094, #c02425, #f0cb35) border-box;*/
        linear-gradient(235deg, #343434, #343434) border-box;

      color: black;
            text-decoration: none;
            padding: 15px;
            margin: 32px 15px;
            font-weight: bold;
    }

    .project-item:hover {
      width: 260px;
      height: 150px;
      margin-bottom: 32px;
      display: inline-block;
      /*padding: 10px 20px;*/
      font-size: 16px;
      text-align: left;
      border: 1px solid transparent; /* Asegura que el borde no afecte el tamaño del botón */
      border-radius: 2px;
      background-clip: padding-box, border-box; /* Establece cómo se aplica el fondo y el borde */
      background: 
        linear-gradient(black, black) padding-box,
        /*linear-gradient(132deg, #6a3094, #c02425, #f0cb35) border-box;*/
        linear-gradient(132deg, #343434, #343434) border-box;

      color: black;
            text-decoration: none;
            padding: 15px;
            margin: 32px 15px;
            font-weight: bold;
    }


    .project-item-pro {
      width: 260px;
      height: 250px;
      margin-bottom: 32px;
      display: inline-block;
      /*padding: 10px 20px;*/
      font-size: 16px;
      text-align: left;
      border: 1px solid transparent; /* Asegura que el borde no afecte el tamaño del botón */
      border-radius: 2px;
      background-clip: padding-box, border-box; /* Establece cómo se aplica el fondo y el borde */
      
    background: 
        linear-gradient(black, black) padding-box,
        /*linear-gradient(132deg, #6a3094, #c02425, #f0cb35) border-box;*/
        /*linear-gradient(325deg, #0000FF, black, #A020F0) border-box;*/
        linear-gradient(325deg, #3D008D, black, #A020F0) border-box;
      color: black;
            text-decoration: none;
            padding: 15px;
            margin: 32px 15px;
            font-weight: bold;

            opacity: 0.9;
      
    }


    .project-item-pro:hover {
      width: 260px;
      height: 250px;
      margin-bottom: 32px;
      display: inline-block;
      /*padding: 10px 20px;*/
      font-size: 16px;
      text-align: left;
      border: 1px solid transparent; /* Asegura que el borde no afecte el tamaño del botón */
      border-radius: 2px;
      background-clip: padding-box, border-box; /* Establece cómo se aplica el fondo y el borde */
      
    background: 
        linear-gradient(black, black) padding-box,
        /*linear-gradient(132deg, #6a3094, #c02425, #f0cb35) border-box;*/
        /*linear-gradient(325deg, #0000FF, black, #A020F0) border-box;*/
        linear-gradient(325deg, #3D008D, black, #A020F0) border-box;
      color: black;
            text-decoration: none;
            padding: 15px;
            margin: 32px 15px;
            font-weight: bold;

            opacity: 1;
      
    }


    .circle {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background-color: #3498db; /* Cambia esto al color que desees */
      backdrop-filter: blur(400px); /* Puedes ajustar la intensidad del blur según tus preferencias */
  }


  .section-container {
    text-align: left;
    width: 90%;
    max-width: 1200px;
    margin: 5% 10%;
  }


  .section-container-text {
    text-align: left;
    width: 90%;
    max-width: 800px;
    margin: 5% 10%;
  }

  @media screen and (max-width: 1080px) {
    .section-container-text {
      margin: 5% 5%;
    }
    .section-container {
      margin: 5% 5%;
    }
  }

  @media screen and (max-width: 780px) {
    .text-style1 {
      font-size: 42px;
    }
    .text-style1-gradient {
      font-size: 42px;
    }

    .text-style4 {
      font-size: 18px;
    }
    .text-style5 {
      font-size: 18px;
    }

    nav a {
      font-size: 17px;
    }
  }

  .fragmento {
    width: 200px;
    height: 5px;
    background: var(--primary-color);
  }

  .fragmento-2 {
    width: 80px;
    height: 1px;
    background: linear-gradient(to right, #3D008D, #cf23cf);
    
    opacity: 0.7;
  }

  .extra-container {
    background-color: #3498db;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  }



  .button-pro {
    width: 120px;
    margin-bottom: 32px;
    display: inline-block;
    /*padding: 10px 20px;*/
    font-size: 14px;
    text-align: center;
    border: 1px solid transparent; /* Asegura que el borde no afecte el tamaño del botón */
    border-radius: 2px;
    background-clip: padding-box, border-box; /* Establece cómo se aplica el fondo y el borde */
    
  background: 
      linear-gradient(black, black) padding-box,
      /*linear-gradient(132deg, #6a3094, #c02425, #f0cb35) border-box;*/
      /*linear-gradient(325deg, #0000FF, black, #A020F0) border-box;*/
      linear-gradient(325deg, #A020F0, black, #A020F0) border-box;
    color: black;
          text-decoration: none;
          padding: 8px;
          font-weight: bold;
          opacity: 0.8;
    
  }


  .button-pro:hover {
    margin-bottom: 32px;
    display: inline-block;
    /*padding: 10px 20px;*/
    font-size: 16px;
    text-align: center;
    border: 1px solid transparent; /* Asegura que el borde no afecte el tamaño del botón */
    border-radius: 2px;
    background-clip: padding-box, border-box; /* Establece cómo se aplica el fondo y el borde */
    
  background: 
      linear-gradient(black, black) padding-box,
      /*linear-gradient(132deg, #6a3094, #c02425, #f0cb35) border-box;*/
      /*linear-gradient(325deg, #0000FF, black, #A020F0) border-box;*/
      linear-gradient(325deg, #A020F0, black, #A020F0) border-box;
    color: black;
          text-decoration: none;
          padding: 8px;
          font-weight: bold;

          opacity: 1;
    
  }
